body{
    background-color: #FFF2EC;
}
nav{
    border-bottom-style: solid;
    border-bottom-width: 1px;

    .container-fluid{
        display:flex;
        justify-content: space-between;

        .Botões{
            display:flex;
            align-items: self-end
        }
    }
}
main{
    margin-right: 93px;
}
.Perguntas{
    display: flex;
    flex-direction: column;
    margin-top:80px;

    .pergunta{
        width: 899px;
        height: 74px;
        border: 1px solid black;
        border-radius: 20px;
        margin-bottom: 42px;

    }
}


.Email{
    display: flex;
    flex-direction: row;
    width: 899px;
    height: 74px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 42px;
}
    
